<h1>Howdy</h1>

<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>

<%= link_to "Create a new survey", new_survey_path %>

<h2>Choose a survey:</h2>

<ul>
  <% @surveys.each do |survey| %>
    <li>
      <%= survey.heading %>
      <%= link_to "View the survey results", survey_path(survey) %> |
      <%= link_to "Take this survey", new_completed_survey_path(survey_id: survey.id) %>
    </li>
  <% end %>
</ul>
