<body>
<div class="background-photo-survey-new">
<div class="background-filter-survey-new">

  <span class="display-landing">
    <h1>Choose a survey to view, or lets <%= link_to "create one", new_survey_path %></h1>
  </span>

  <% if flash[:success] %>
    <p><%= flash[:success] %></p>
  <% end %>

  <section class="full-right-content">

    <aside class="aside-landing">
      <div>
        <h1>User name</h1>
        <h2>email</h2>
        <h2>another h2</h2>
        <a href="#">Various links</a>
        <br>
        <a href="#">for who</a>
        <br>
        <a href="#">knows what</a>
        <br>
      </div>

    </aside>

    <article class="article-landing">
      <% @surveys.each do |survey| %>
      <div class="survey-tile-side-image">
        <div class="survey-tile-images-wrapper"></div>
          <div class="survey-side-image-content">
            <h4>Assessment Name</h4>
            <h1><%= survey.heading %></h1>
            <p><%= survey.intro %></p>
            <div class="survey-tile-link-buttons">
              <span><%= link_to "View the survey results", survey_path(survey) %></span>
              <span>|</span>
              <span><%= link_to "Take this survey", new_completed_survey_path(survey_id: survey.id) %></span>
              <span><%= text_field_tag :completed_survey_url, new_completed_survey_url(survey_id: survey.id) %></span>
            </div>
        </div>
      </div>
      <br>
      <% end %>
    <article>

  <section>

<body>
