<h1>Hello world</h1>

<%= form_for @completed_survey do |form| %>
  <br />
  <!-- Form field to allow user to answer question -->
  <%= form.fields_for :evaluations do |evaluation_form| %>

    <%= evaluation_form.object.question.body %>

    <%= evaluation_form.hidden_field :question_id, value: evaluation_form.object.question.id %>

    <%= evaluation_form.label :answer, "1" %>
    <%= evaluation_form.radio_button :answer, 1.0 %>
    <span class="radio_span"></span>
    <%= evaluation_form.label :answer, "2"%>
    <%= evaluation_form.radio_button :answer, 2.0 %>
    <span class="radio_span"></span>
    <%= evaluation_form.label :answer, "3" %>
    <%= evaluation_form.radio_button :answer, 3.0 %>
    <span class="radio_span"></span>
    <%= evaluation_form.label :answer, "4" %>
    <%= evaluation_form.radio_button :answer, 4.0 %>
    <span class="radio_span"></span>
    <%= evaluation_form.label :answer, "5" %>
    <%= evaluation_form.radio_button :answer, 5.0 %>

    <br>
  <% end %>

  <!-- Submit the form -->
  <%= form.submit "Submit" %>
<% end %>
