<body>
<div class="picture" style="background-image: url(https://source.unsplash.com/5d2ETacuSgw/1600x900)"></div>
<div class="overlay-grayscale"></div>
<div class="overlay-bottom"></div>
<div class="overlay-top"></div>

  <span class='display-completed-survey'>
    <h1><%= @survey.assessment.title %></h1>
    <h2><%= @survey.heading %></h2>
    <p><%= @survey.intro %></p>
  </span>
  <div id="content">
    <section class="solo-content">
      <article class="completed-survey-new">
      <%= form_for @completed_survey do |form| %>
        <%= form.fields_for :evaluations do |evaluation_form| %>
        <br>
          <div class="eval-panel">
            <h2><%= evaluation_form.object.question.body %></h2>
            <%= evaluation_form.hidden_field :question_id, value: evaluation_form.object.question.id %>

            <div class="eval-selection">

                <%= evaluation_form.radio_button :answer, 1.0 %>
                <%= evaluation_form.label :answer, "1", value: 1.0, class: "button-group-item" %>

                <%= evaluation_form.radio_button :answer, 2.0 %>
                <%= evaluation_form.label :answer, "2", value: 2.0, class: "button-group-item" %>

                <%= evaluation_form.radio_button :answer, 3.0 %>
                <%= evaluation_form.label :answer, "3", value: 3.0, class: "button-group-item" %>

                <%= evaluation_form.radio_button :answer, 4.0 %>
                <%= evaluation_form.label :answer, "4", value: 4.0, class: "button-group-item" %>

                <%= evaluation_form.radio_button :answer, 5.0 %>
                <%= evaluation_form.label :answer, "5", value: 5.0, class: "button-group-item" %>

            </div>
          </div>
        <% end %>

        <%= form.submit "Submit" %>
      <% end %>
      </article>
    </section>
  </div>
</body>
