<h1>Hey, let us make merry. And a new survey.</h1>

<%= simple_form_for @survey do |survey_form| %>
  <p>heading: <%= survey_form.text_field :heading %></p>
  <p>intro: <%= survey_form.text_field :intro %></p>

  <%= survey_form.association :assessment, as: :radio_buttons %>

  <%= survey_form.submit "Submit" %>
<% end %>
